<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DeepfreezeApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DeepfreezeApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <DeepfreezeApp.Properties.Settings>
      <setting name="ApplicationDataFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="SettingsFilePath" serializeAs="String">
        <value />
      </setting>
      <setting name="UploadsFolderPath" serializeAs="String">
        <value />
      </setting>
      <setting name="EndpointFilePath" serializeAs="String">
        <value />
      </setting>
      <setting name="LogFilePath" serializeAs="String">
        <value />
      </setting>
      <setting name="MinimizeOnClose" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsFirstLogin" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RestartAfterUpdate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DoAutomaticUpdates" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DebugServerBaseAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="BigStashBlogURL" serializeAs="String">
        <value />
      </setting>
    </DeepfreezeApp.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <DeepfreezeApp.Properties.Settings>
      <setting name="ApplicationName" serializeAs="String">
        <value>BigStash</value>
      </setting>
      <setting name="SettingsFileName" serializeAs="String">
        <value>preferences.djf</value>
      </setting>
      <setting name="UploadsFolderName" serializeAs="String">
        <value>uploads</value>
      </setting>
      <setting name="ServerBaseAddress" serializeAs="String">
        <value>https://www.deepfreeze.io/api/v1/</value>
      </setting>
      <setting name="EndpointFileName" serializeAs="String">
        <value>endpoint.txt</value>
      </setting>
      <setting name="ApplicationFullName" serializeAs="String">
        <value>BigStash for Windows</value>
      </setting>
      <setting name="LogFileName" serializeAs="String">
        <value>Log.txt</value>
      </setting>
      <setting name="DeepfreezeJsonFormat" serializeAs="String">
        <value>.djf</value>
      </setting>
      <setting name="DeepfreezeApplicationFolderName" serializeAs="String">
        <value>Deepfreeze.io</value>
      </setting>
      <setting name="BigStashURL" serializeAs="String">
        <value>https://www.bigstash.co/</value>
      </setting>
      <setting name="BigStashNameRulesFAQURL" serializeAs="String">
        <value>https://www.bigstash.co/faq/#Why-are-some-of-my-files-not-being-uploaded</value>
      </setting>
    </DeepfreezeApp.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <!--AWSProfileName is used to reference an account that has been registered with the SDK.
If using AWS Toolkit for Visual Studio then this value is the same value shown in the AWS Explorer.
It is also possible to registered an accounts using the <solution-dir>/packages/AWSSDK-X.X.X.X/tools/account-management.ps1 PowerShell script
that is bundled with the nuget package under the tools folder.-->
    <add key="AWSProfileName" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>